
body{

  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
}

header {
  height: inherit;
  background: #3f3f3f;
  color: #FFFFFF;
  height: 5em;
  left: 0;
  position: center;
  top: 0;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px #B8B8B8;
  box-shadow: 5px 5px 5px 5px #B8B8B8;
  margin-bottom: 20px
}

a{
  text-decoration: none;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
}

#logo{
  border-radius: 15px;
  height: auto;
  height: inherit;

}
#user_image, #compania_image{
  border-radius: 10px;
  margin: 4px;
  height: 160px;

}
#description_skills, .presentacion_compania{

    margin: 5px;
}
#sumary_skills, .perfil_compania{

      float: left;
      height: 100%;
}
.companias_candidatas{
  -webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
-webkit-box-shadow: 0 0 10px 1px #050505;
box-shadow: 0 0 10px 1px #050505;


}
table{
  border-collapse: separate;;
  border-spacing: 3px;
  border-top: 0px;
  border-bottom: 0px;

}
.info_estudiante, .encabezados{
  font-weight: bold;
}
#button_search{
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#008DD8;
  border:0px;
  margin: 4px;
  border-radius: 5px;
  height: 30px;
}

.companies_images{
  width: 60%;
  height: 40px;
  margin-left: 20%;
  margin-right: 20%;
}

input{
  font-size:14px;
  border-radius:7px;
  vertical-align: bottom;
}


#addImage{
  vertical-align: bottom;
}
.icon_start{
  height: 12px;
  width: 12px;
}
#edit_icon{
  float: right;
  width: 25px;
  height: 25px;
}
#text_presentacion, #text_projects{
  vertical-align: left;
  height: 100px;
}
.image-upload > input
{
    display: none;
}
#companies_nav{
       float: right;
}
