<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chosse!</title>
    <link rel="stylesheet" type="text/css"  href="../styles/user_style.css">
  </head>
  <body>
    <header >
      <img id="logo" src="../img/logo.jpg" alt="no se pudo cargar el logo"></img>
		</header>
    <div>Busqueda</div>
    <br>
    <form>
      <label for="company_name">nombre empresa</label>
      <input type="text" id="company_name" name="company_name">
      <label for="salario">salario</label>
      <input type="text" id="salario" name="salario">
      <label for="puesto">puesto</label>
      <input type="text" id="puesto" name="puesto">

    </form>
  </body>
</html>
