<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Choose!</title>
    <link rel="stylesheet" type="text/css"  href="../styles/user_style.css">

  </link>
  </head>
  <body>
    <header >
      <img id="logo" src="../images/logo.jpg" alt="no se pudo cargar el logo"></img>
		</header>
    <nav>

      <table id="companies_table">
        <thead>
          <tr class="companias_candidatas">
            <th>
                <button id="button_search" type="button" name="button">buscar empresas</button>
            </th>
          </tr>
          <tr  class="companias_candidatas">
            <th>
              empresas candidatas
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="companias_candidatas">
            <td>
              CUCEI
            </td>
          </tr>
            <tr class="companias_candidatas">
              <td>
                INTEL
              </td>
            </tr>
              <tr class="companias_candidatas">
                <td>
                  Oracle
                </td>
              </tr>
                <tr class="companias_candidatas">
                  <td>
                    TATA
                  </td>
                </tr>
                  <tr class="companias_candidatas">
                    <td>
                      OOYALA
                    </td>
                  </tr>
        </tbody>
      </table>
    </nav>
    <section id="sumary_skills">
      <img id="user_image" src="../images/user.png" alt="no se pudo cargar imagen de usuario" />
      <table id="skills_table">
        <thead>
          <tr>
            <th>
              habilidad
            </th>
            <th>
              nivel max 5
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
             javascript
            </td>
            <td>
              <img id="start_image" src="../images/estrella_azul_18_18.jpg" alt="no se encontro imagen de estrella" />
              <img id="start_image" src="../images/estrella_azul_18_18.jpg" alt="no se encontro imagen de estrella" />
            </td>
          </tr>
          <tr>
            <td>
              python
            </td>
            <td>
              <img id="start_image" src="../images/estrella_azul_18_18.jpg" alt="no se encontro imagen de estrella" />
              <img id="start_image" src="../images/estrella_azul_18_18.jpg" alt="no se encontro imagen de estrella" />
              <img id="start_image" src="../images/estrella_azul_18_18.jpg" alt="no se encontro imagen de estrella" />
              <img id="start_image" src="../images/estrella_azul_18_18.jpg" alt="no se encontro imagen de estrella" />
            </td>
          </tr>
          <tr>
            <td>
              Linux
            </td>
            <td>
              <img id="start_image" src="../images/estrella_azul_18_18.jpg" alt="no se encontro imagen de estrella" />
              <img id="start_image" src="../images/estrella_azul_18_18.jpg" alt="no se encontro imagen de estrella" />
              <img id="start_image" src="../images/estrella_azul_18_18.jpg" alt="no se encontro imagen de estrella" />
              <img id="start_image" src="../images/estrella_azul_18_18.jpg" alt="no se encontro imagen de estrella" />
            </td>
          </tr>
          <tr>
            <td>
              agregar
            </td>
            <td>
              <input type="image" src="../images/add_skill_25_25.jpg">
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section id="description_skills">
      <div class="info_estudiante">
        Nombre del estudiante
      </div>
      <br>
      <div class="encabezados">
        Presentacion
      </div>
      <p>
        Presentacion general del estudiante, describir actividades escolares que las empresas pudieran considerar como soluciones para sus necesidades.
      </p>
      <div class="encabezados">
        proyectos en los que ha participado
      </div>
      <p>
        Describir cada proyecto en los que participo que mejoraron sus habilidades tecnicas ejemplo: creacion de un compilador para python
        en español desarrollado con el lenguaje Java.
      </p>
      <div class="encabezados">
        Experiencia profesional
      </div>
      <p>
        Describir la experiencia profesional obtenida en practicas, servicio social o trabajos ejemplos: servicio social dando mantenimiento
        a equipo de computo en laboratorios de U de G CUCEI, practicas profesionales en la empresa Intel desarrollando herramientas para
        automatizar procesos enfocados a pruebas de microprocesadores.
      </p>
    </section>
  </body>
</html>
