<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Choose!</title>
    <script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="../scripts/script.js"></script>
    <link rel="stylesheet" type="text/css"  href="../css/user_style.css"></link>
  </head>
  <body>
    <header >
      <img id="logo" src="../img/logo.jpg" alt="logotipo principal Choose"></img>
		</header>
    <nav id="companies_nav">

      <div id="companies_table">
        <div>
          <div class="companias_candidatas">
            <div>
                <button id="button_search" type="button" name="button"><a href="search_company.html">buscar empresas</a></button>
            </div>
          </div>
          <div  class="companias_candidatas">
            <div>
              empresas candidatas
            </div>
          </div>
        </div>
        <div>
          <div class="companias_candidatas">
            <div>
              <img class="companies_images" src="../img/cucei.jpg" alt="imagen logotipo de compañia" />
            </div>
          </div>
          <div class="companias_candidatas">
            <div>
              <img class="companies_images" src="../img/intel.png" alt="imagen logotipo de compañia" />
            </div>
          </div>
          <div class="companias_candidatas">
            <div>
              <img class="companies_images" src="../img/oracle.png" alt="imagen logotipo de compañia" />
            </div>
          </div>
          <div class="companias_candidatas">
            <div>
              <img class="companies_images" src="../img/tata.png" alt="imagen logotipo de compañia" />
            </div>
          </div>
                  <div class="companias_candidatas">
                    <div>
                      <img class="companies_images" src="../img/ooyala.png" alt="imagen logotipo de compañia" />
                    </div>
                  </div>
        </div>
      </div>
    </nav>
    <section id="sumary_skills">
      <div class="image-upload">
        <label for="file-input">
          <img id="user_image" src="../img/user.png" alt="fotografia de alumno"/>
        </label>

        <input id="file-input" type="file"/>
      </div>
      <table id="skills_table">
        <thead>
          <tr>
            <th>
              habilidad
            </th>
            <th>
              nivel max 5
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            <input id="skill_name" class="form-field" type="text" />
            </td>
            <td valign="top">
              <input id="button_skill_qty" type="number" min="1" max="5" placeholder="nivel"/>
              <input id="addImage" type="image" src="../img/add_skill_25_25.jpg">
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section id="description_skills">
      <div class="info_estudiante">
        Nombre del estudiante: <input id="user_name" type="text"  placeholder="ingresa tu nombre" disabled/><input id="edit_icon" type="image" name="name" src="../img/edit_icon.jpg">
      </div>
      <div class="info_estudiante">
        Especialidad: <input id="especialidad" type="text"  placeholder="ingresa tu especialidad" disabled/>
      </div>
      <br>
      <div class="encabezados">
        Presentacion
      </div>
      <textarea id="text_presentacion" disabled>
        Presentacion general del estudiante, describir actividades escolares que las empresas pudieran considerar como soluciones para sus necesidades.
      </textarea>
      <div class="encabezados">
        Experiancia profesional y proyectos en los que ha participado
      </div>
      <textarea id="text_projects" disabled>
        Describir cada proyecto en los que participo que mejoraron sus habilidades tecnicas ejemplo: creacion de un compilador para python
        en español desarrollado con el lenguaje Java.
      </textarea>
    </section>
  </body>
</html>
