<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Chosse! Student register</title>
	    <link rel="stylesheet" type="text/css"  href="../styles/user_style.css">
  	</head>
  	<body>
	    <header >
	      	<img id="logo" src="../images/logo.jpg" alt="no se pudo cargar el logo"></img>
		</header>
	    <form>
	    	<br>
	      	<label for="student_name">Nombre</label>
	      	<input type="text" id="student_name" name="student_name">
	      	<br>
	      	<label for="last_name">Apellido Paterno</label>
	       	<input type="text" id="last_name" name="last_name">
	       	<br>
	      	<label for="second_last_name">Apellido Materno</label>
	       	<input type="text" id="second_last_name" name="second_last_name">
	       	<br>
	      	<label for="student_email">Email</label>
	       	<input type="text" id="student_email" name="student_email">
	       	<br>
	       	<label for="student_user">Usuario</label>
	       	<input type="text" id="student_user" name="student_user">
	       	<br>
	      	<label for="student_password">Password</label>
	       	<input type="text" id="student_password" name="student_password">
	       	<br>
	      	<label for="v_student_password">Repite Password</label>
	       	<input type="text" id="v_student_password" name="v_student_password">
	       	<br>
	       	<input type="submit" id="submit_student_register" name="submit_student_register" value="Enviar">
	       	<br>
	    </form>
	    <footer>
    		<p>
    			Choose!
    		</p>
	    </footer>
  	</body>
</html>
