<!DOCTYPE html>
<html>

		{{header}}
		<body>
			{{logo}}
	    <form method="POST">
	    	<br>
	      	<label for="company_short_name">Nombre corto</label>
	      	<input type="text" id="company_short_name" name="company_short_name">
	      	<br>
	      	<label for="company_name">Razón social</label>
	       	<input type="text" id="company_name" name="company_name">
	       	<br>
	      	<label for="company_category">Rubro</label>
	       	<input type="text" id="company_category" name="company_category">
	       	<br>
	      	<label for="company_email">Email</label>
	       	<input type="email" id="company_email" name="company_email">
	       	<br>
	      	<label for="company_password">Password</label>
	       	<input type="password" id="company_password" name="company_password">
	       	<br>
	      	<label for="v_company_password">Repite Password</label>
	       	<input type="password" id="v_company_password" name="v_company_password">
	       	<br>
	       	<button type="submit" id="submit_company_register" name="submit_company_register">Enviar</button>
	       	<br>
	    </form>
	    <footer>
    		<p>
    			Choose!
    		</p>
	    </footer>
  	</body>
</html>
