<head>
  <meta charset="utf-8">
  <title>Choose!</title>
  <script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <script type="text/javascript" src="Vista/scripts/script.js"></script>
  <script type="text/javascript" src="Vista/scripts/extrasmaterialize/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="Vista/scripts/extrasmaterialize/prism.js"></script>
  <script type="text/javascript" src="Vista/scripts/extrasmaterialize/perfect-scrollbar.min.js"></script>
  <script type="text/javascript" src="Vista/scripts/extrasmaterialize/plugins.js"></script>
  <link rel="stylesheet" type="text/css"  href="Vista/css/user_style.css"></link>-
  <link href="Vista/css/materializecss/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="Vista/css/materializecss/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="Vista/css/materializecss/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="Vista/css/materializecss/style-horizontal.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="Vista/css/materializecss/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">

  <link href="Vista/css/materializecss/style.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
