<!DOCTYPE html>
<html lang="es">
	{{header}}
  	<body id="login">
			{{dialog}}
			<div id="loader-wrapper">
	      <div id="loader"></div>
	      <div class="loader-section section-left"></div>
	      <div class="loader-section section-right"></div>
  		</div>
			<form id="login-form" class="login-form" action="index.php" method="post" onKeyPress="return checkSubmit(event)" >
				<div class="row">
					<div class="input-field col s12 center">
						<img src="Vista/img/logo.jpg" alt="" class="circle responsive-img valign profile-image-login">
						<p class="center login-form-text">elige lo mejor</p>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="mdi-social-person-outline prefix"></i>
						<input id="username" type="text" class="validate login_form" name="username">
			      <label for="username">Usuario</label>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="mdi-action-lock-outline prefix"></i>
						<input id="password" type="password" name="password" class="login_form">
						<label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<a href="index.php" class="btn col s12" onclick="document.forms[0].submit();return false;">Login</a>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m12 l12">
						<p class="center login-form-text margin medium-small"><a href="#" onclick=" return openRegister()">Registrar ahora!</a></p>
					</div>
				</div>

			</form>
		</body>
</html>
