<!DOCTYPE html>
<html>
		{{header}}
		<body>
	    <form id="register_form" method="POST" action="index.php">
	    	<br>
				<div class="input-field">
	      	<label for="student_name">Nombre</label>
	      	<input type="text" id="student_name" name="student_name" class="validate" required/>
        </div>
	       	<br>
				<div class="input-field">
	      	<label for="student_email">Email</label>
	       	<input type="email" id="student_email" name="student_email" required>
        </div>
	       	<br>
				<div class="input-field">
	       	<label for="student_user">Usuario</label>
	       	<input type="text" id="student_user" name="student_user" required>
        </div>
	       	<br>
				<div class="input-field">
	      	<label for="user_password">Password</label>
	       	<input type="password" id="user_password" name="user_password" required>
        </div>
	       	<br>
				<div class="input-field">
	      	<label for="user_password2">Repite Password</label>
	       	<input type="password" id="user_password2" name="user_password2" required>
        </div>
	       	<br>
		      	<label for="user_type">tipo de usuario</label>
						<select name="user_type" class="browser-default">
							<option value="alumno">ALUMNO</option>
							<option value="empresa">EMPRESA</option>
						</select>

				<br>
					<button class= "btn" type="submit"  >Submit</button>

	       	<br>
	    </form>
	    <footer>
    		<p>
					-Contactar al Administrador-
    		</p>
	    </footer>
  	</body>
</html>
