<!DOCTYPE html>
<html>
  {{header}}
  <body >
      {{logo}}
    <div class="row">
    <section id="sumary_skills" class="col s2">
      <div class="bold">
        <p>
          username: <b id="tag_username">{{username}}</b>
        </p>
      </div>
      <div class="bold">
        <b> {{email}}</b>
      </div>
      <div class="image-upload row">
        <label for="file-input">
          <img id="user_image" src="Vista/img/user.png" alt="fotografia de alumno" class="col s12"/>
        </label>

        <input id="file-input" type="file"/>
      </div>
      <table id="skills_table" class="row">
        <thead>
          <tr class="row">
            <th class="col s5">
              habilidad
            </th>
            <th class="col s7">
              nivel max 5
            </th>
          </tr>
          <td class="col s6">
          <input id="skill_name" class="form-field" type="text" />
          </td>
          <td valign="top" class="col s4">
            <input id="button_skill_qty" type="number" min="1" max="5" />
          </td>
          <td valign="top" class="col s2">
            <a id="addImage" class="waves-effect waves-circle waves-light btn-floating"><i class="tiny material-icons">+</i></a>
          </td>
        </thead>
        <tbody>
          <tr class="row">
            {% for skill in skills %}
            {{skill}}
            {%endfor%}
          </tr>
        </tbody>
      </table>
    </section>
    <section id="description_skills" class="col s6">
      <div class="row info_estudiante">
        <div class="input-field col s9">
          <input value="{{name}}" id="user_name" type="text" class="validate" pattern="\w{5}" disabled>
          <label class="active" for="user_name">Nombre del estudiante</label>
        </div>
        <div class="col s1">
          <a href="#!" id="edit_icon"><i class="material-icons">edit</i>editar</a>
        </div>

        <div class="col s1">
          <a href="#!" id="save_icon"><i class="material-icons">save</i>guardar</a>
        </div>
      </div>

        <div class="row info_estudiante">
          <div class="input-field col s9">
            <input value="{{carrera}}" id="especialidad" type="text" class="validate" disabled>
            <label class="active" for="especialidad">Especialidad</label>
          </div>
        </div>
        <div class="row info_estudiante">
          <div class="input-field col s12">
            <textarea id="text_presentacion" class="materialize-textarea " disabled >
              {{descripcion}}
            </textarea>
            <label for="text_presentacion encabezados">Presentacion</label>
          </div>
        </div>

        <div class="row info_estudiante">
          <div class="input-field col s12">
            <textarea id="text_projects" class="materialize-textarea" disabled >
              {{experiencia}}
            </textarea>
            <label for="text_projects encabezados">Experiancia profesional y proyectos en los que ha participado</label>
          </div>
        </div>
        <div class="row info_estudiante">
          <div class="input-field col s12">
            <textarea id="text_historial" class="materialize-textarea" disabled >
              {{historial_academico}}
            </textarea>
            <label for="text_projects encabezados">Experiancia profesional y proyectos en los que ha participado</label>
          </div>
        </div>
    </section>
    <aside id="companies_nav" class="col s3">

      <div class="container">
        <div class="row">
          <a id="btnSearch" class="waves-effect waves-light btn center" href="index.php?ctl=search"><i class="material-icons">search</i>  Buscar empresa</a><br>
        </div>
        <div id="bandeja_entrada" class="row z-depth-1">
          <p >bandeja de entrada</p>
            <div id="mensajes">
              {% for mail in mailList %}
                {{mail}}
              {% endfor %}
              <script>
              $(document).ready(function () {
                  $('.modal-trigger').leanModal();
              });
              </script>
            </div>
          </div>
      </div>

    </aside>

    </div>
  </body>
</html>
